<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/kendo/2017.1.14/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2017.1.14/kendo.bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/kendo/2017.1.14/jquery.min.js"></script>
    <script src="~/Scripts/kendo/2017.1.14/kendo.all.min.js"></script>
    <script src="~/Scripts/kendo/2017.1.14/kendo.aspnetmvc.min.js"></script>


</head>
<body>
    <div id="wrapper" class="container-fluid" style="position: relative;">
        <div id="header" class="row">
            <div class="col-sm-12">
                <div class="navbar">
                        <div class="navbar-header">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/Images/App/trip_xpert_logo.png")" , alt="tripxpert logo" />
                            </a>
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav main-nav">
                                <li class="te-selected">@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Destinations", "Destinations", "Destinations")</li>
                                <li>@Html.ActionLink("Attractions", "Attractions", "Attractions")</li>
                                <li>@Html.ActionLink("Contact", "Contact", "Contact")</li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right nav-add-info">
                                <li><span class="k-icon k-i-information"></span>@Html.ActionLink("About this Sample App", "About", "About")</li>
                                <li><span class="k-icon k-i-download"></span><a href="http://demos.telerik.com/aspnet-ajax/imagegallery/ImageGallerySource.zip"><span class="tx_icon tx_download_icon"></span>Download Source Code</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
        <div id="main-content" class="row">
            <div class="col-sm-12 tx-col">
                <div class="body-content">
                    <div class="tx-home-image-wrapper" style="height: 900px; background-image:url(http://demos.telerik.com/aspnet-ajax/imagegallery/images/gallery/The%20best%20of%20Japan/2000x1125/Kinkaku-ji-Temple_Ivan-zhekov_Attraction.JPG");">
                        <!--<img src="http://demos.telerik.com/aspnet-ajax/imagegallery/images/gallery/The%20best%20of%20Japan/2000x1125/Kinkaku-ji-Temple_Ivan-zhekov_Attraction.JPG" />-->
                        <div class="tx-home-search-wrapper">
                            @RenderBody()
                        </div>
                    </div>
                    <div class="tx-description-box" style="display: block;">
                        <h4 class="tx-description-title">Brazil and Argentina Iguazu Falls - Cristo Redentor (Christ the Redeemer)</h4>
                        <p class="tx-description">A world famous symbol of the city, Christo Redentor towers 710m over the city as an ever present reminder of its heritage.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="row">
            <div class="col-sm-12">
                <footer>
                    <p>Copyright  &copy; @DateTime.Now.Year, Progress Software Corporation and/or its subsidiaries or affiliates. All Rights Reserved.</p>
                </footer>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
