@{
    ViewBag.Title = "Destination Details";
}
@model TripXpert.Models.DestinationViewModel
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.nova.mobile.min.css" />
<div id="DetailsLayout" class="t-container t-container-fluid container-fluid">
    <div class="row">
        <div class="col col-sm-12">
            @*should decide on height of image here*@
            <img src="@Model.DetailImage" alt="@Model.Title" style="height:800px;width:100%" />

        </div>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col col-sm-8">
                <div class="panel-heading">
                    <h1 class="display-4">@Model.Title</h1>
                    @{
                        var attractions = string.Join(" ", Model.Attractions.Select(a => a.Title));
                    }
                    <p><em>@attractions</em></p>
                </div>
                <div class="panel-heading">
                    Price from $@Model.LowestPrice<span>@Model.Duration days</span>
                    <div>
                        <a id="pricesButton" class="k-link">view full price info</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                @{ var tourInfos = Model.TourInfos;
                    List<DateTime> list = new List<DateTime>();
                    foreach (var tourInfo in tourInfos)
                    {
                        foreach (var tourDate in tourInfo.TourDates)
                        {
                            list.Add(tourDate);
                        }
                    }
                }
                @(Html.Kendo().Calendar()
                         .Name("toursCalendar")
                         .Selectable("multiple")
                         .SelectDates(list)
                         .Value(Model.TourInfos.First().StartDate)
                )
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container">
        @(Html.Kendo().TabStrip()
                    .Animation(false)
                    .Scrollable(true)
                    .Name("tabStripInfo")
                    .Items(items =>
                    {
                        items.Add().Text("Overview").Selected(true)
                        .Content(@<text>
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3>@Model.Title</h3>
                                    <p>@Model.FullDescription</p>
                                    <a href="javascript:void(0);" class="tx_link tx_read_more">read more</a>
                                    <a href="javascript:void(0);" class="tx_link tx_read_less">read less</a>
                                    <div class="row">
                                        @{
                                             for (int i = 0; i < @Model.ShortDescription.Length; i++)
                                             {
                                                 if (i > 0)
                                                 {
                                                     <span style="display: inline-block"></span>
                                                 }

                                                  @Model.ShortDescription[i];
                                             }
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <blockquote>
                                        @Model.Testimonial.TestimonialContent
                                        <p>@Model.Testimonial.Author.</p>
                                    </blockquote>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a id="openLargeMap" class="tx_link">view larger map</a>
                                    @(Html.Kendo().Map()
                                              .Name("overviewMap")
                                              .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
                                              .Zoom((double)Model.MapInfo.ZoomSettings["Zoom"])
                                              .HtmlAttributes(new { style = "width: 100%; height: 320px;" })
                                              .Layers(layers =>
                                              {
                                                              layers.Add()
                                                          .Type(MapLayerType.Tile)
                                                          .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                          .Subdomains("a", "b", "c")
                                                          .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                                          }).Markers(markers =>
                                                  {
                                                               foreach (var marker in Model.MapInfo.Markers)
                                                               {
                                                                   markers.Add()
                                                                   .Location(marker.LatLng);
                                                               }
                                                           }
                                              )
                                    )
                                </div>
                            </div>
                        </text>);
                            items.Add().Text("Attractions")
            .Content(@<text>
                     <script id="attractionsTemplate" type="text/x-kendo-tmpl">
                         <div class="col-sm-3">
                             <div class="card">
                                 <img class="card-img-top" src="#=Image.ImageURL#" alt="#=Title#">
                                 <div class="card-body">
                                     <h5 class="card-title">#:Title#</h5>
                                     <p class="card-text"><small class="text-muted">#:Location#</small></p>
                                     <p class="card-text">#: Description #</p>
                                 </div>
                             </div>
                         </div>
                     </script>
                     @(Html.Kendo().ListView(Model.Attractions)
                               .Name("AttractionsListView")
                               .TagName("div")
                               .ClientTemplateId("attractionsTemplate")
                               .HtmlAttributes(new { @class = "card-group", @style = "display:flex;" })
                     )</text>);
                    items.Add().Text("Enquiry form")
                .Content(@<text>
                        <div id="tx_enquiry_form" class="container">
                            <h3>Contact an Expert</h3>
                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="col-sm-4">
                                        <label for="firstNameTextBox">First name</label>
                                        @(Html.Kendo().TextBox().Name("firstNameTextBox").HtmlAttributes(new { @class = "form-control" }))
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="lastNameTextBox">Last Name</label>
                                        @(Html.Kendo().TextBox().Name("lastNameTextBox").HtmlAttributes(new { @class = "form-control" })
                                        )
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="emailTextBox">Email</label>
                                        @(Html.Kendo().TextBox().Name("emailTextBox").HtmlAttributes(new { @class = "form-control" })
                                        )
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <p>
                                        @Model.Title has been added to your enquiry.  Please complete the short form. We’ll get right back to you to help you with your travels.
                                    </p>
                                    <blockquote>
                                        @Model.Testimonial.TestimonialContent
                                        <p>@Model.Testimonial.Author</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="commentsTextBox">Comments</label>
                                    @(Html.TextArea("commentsTextBox", new { style = "width: 100%; resize: none;", rows = "5", @class = "form-control", cols = "200" }))
                                </div>
                            </div>
                            <div class="row">
                                @(Html.Kendo().Button()
                                         .Name("sendEnquiry")
                                         .Content("Send")
                                         .Events(e => e.Click("enquirySendClick"))
                                )
                            </div>
                        </div>
                </text>);
                })
        )
    </div>
</div>

@(Html.Kendo().Window()
    .Name("windowPriceInfo")
    .Title("Full Price Info")
    .Visible(false)
    .Content(@<text>
       <script type="text/x-kendo-tmpl" id="priceInfoTemplate">
           <p>Tour Rates: #: kendo.toString(data.StartDate, "dd MMMM yyyy")# - #: kendo.toString(data.EndDate, "dd MMMM yyyy")#</p>
           <ul>
               <li>$#:data.PerPersonSharing#  per person sharing</li>
               <li>$#:data.PerSingleOccupancy# per single occupancy</li>
               <li>$#:data.PerChild# per child (14 - 16 years)</li>
           </ul>
       </script>
       @(Html.Kendo().ListView(Model.TourInfos)
          .Name("listView")
          .TagName("div")
          .ClientTemplateId("priceInfoTemplate")
       )
   </text>).Actions(actions => actions.Close())
)
@(Html.Kendo().Window()
   .Name("largeMapWindow")
   .Title("Itinerary map")
   .Visible(false)
   .Content(@<text>
    @(Html.Kendo().Map()
       .Name("largeMap")
       .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
       .HtmlAttributes(new { style = "height:660px; width: 820px;" })
       .Layers(layers =>
       {
             layers.Add()
         .Type(MapLayerType.Tile)
         .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
         .Subdomains("a", "b", "c")
         .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                 })
               .Markers(markers =>
               {
                     foreach (var marker in Model.MapInfo.Markers)
                     {
                         markers.Add()
                            .Location(marker.LatLng);
                     }

               }
       ))</text>)
       .Actions(actions => actions.Close())
)

<script>
    $("#pricesButton").on("click", function (e) {
        $("#windowPriceInfo").data("kendoWindow").center().open();
    });

    $("#openLargeMap").on("click", function (e) {
        $("#largeMapWindow").data("kendoWindow").center().open();
    });

    function enquirySendClick(e) {
        var firstName = $("#firstNameTextBox");
        var lastName = $("#lastNameTextBox");
        var email = $("#emailTextBox");
        var phone = $("#phoneTextBox");
        var mobile = $("#mobileTextBox");
        var country = $("#countryDropDown").data("kendoDropDownList");
        var comments = $("#commentsTextBox");

        firstName.val("");
        lastName.val("");
        email.val("");
        phone.val("");
        mobile.val("");
        country.value("");
        comments.val("");

    }
    $(document).ready(function () {
        var smallMap = $("#overviewMap").data("kendoMap");
        var largeMap = $("#largeMap").data("kendoMap");

        largeMap.setOptions({
            zoom: smallMap.zoom() + 1
        });
    });
</script>