@{
    ViewBag.Title = "Destination Details";
}

@model TripXpert.Models.DestinationViewModel

<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.1.221/styles/kendo.nova.mobile.min.css" />

<div id="DetailsLayout" class="t-container t-container-fluid container-fluid">
    <div class="t-row tx_destination_title">
        <div class="t-col t-col-12">

            <h2>@Model.Title</h2>

        </div>
    </div>

    <div class="t-row tx_media_row row">
        <div class="t-col t-col-9 t-col-xs-12 t-col-sm-12 t-col-md-7 t-col-lg-8 scrollview-col">
            <div class="image-wrapper">
                @*should decide on height of image here*@ 
              <img src="@Model.DetailImage" alt="@Model.Title" style="height:950px;" />               
            </div>
            <p class="title">@Model.Title</p>
            <div>
                @(Html.Kendo().TabStrip()
                    .Name("tabstripMain")
                    .Animation(false)
                    .Items(items =>
                    {
                        items.Add().Text("View gallery")
                            .Selected(true)
                            .Content(@<text>
                                <div class="demo-section hidden-on-narrow k-content">
                                    <div id="scrollview"></div>
                                    <a id="prev-img" title="Previous Image"><span class="k-icon k-i-arrow-chevron-left"></span></a>
                                    <a id="next-img" title="Next Image"><span class="k-icon k-i-arrow-chevron-right"></span></a>
                                </div>
                            </text>);
                items.Add().Text("Play video")
                    .Content(@<text>
                        @(Html.Kendo().MediaPlayer()
                                .Name("destinationMediaPlayer")
                                .Media(m => m
                                    .Title(Model.Title)
                                    .Source(Url.Content("~/Videos/" + Model.VideoURL))
                                )
                                .HtmlAttributes(new { style = "height:500px" })
                        )
                    </text>);
    })
                )
            </div>
        </div>
        <div class="t-col t-col-3 t-col-xs-12 t-col-sm-12 t-col-md-5 t-col-lg-4 tx_brief_info cal-row">

            <h3 class="clearfix">Price form $@Model.LowestPrice<span>@Model.Duration days</span></h3>
            <a id="pricesButton" class="tx_link">view full price info</a>
            <div class="rltbOverlay" style="z-index:3500;display:none;">

            </div>

            @(Html.Kendo().Window()
                .Name("windowPriceInfo")
                .Title("Full Price Info")
                .Visible(false)
                .Content(@<text>
                    <script type="text/x-kendo-tmpl" id="priceInfoTemplate">
                        <p>Tour Rates: #: kendo.toString(data.StartDate, "dd MMMM yyyy")# - #: kendo.toString(data.EndDate, "dd MMMM yyyy")#</p>
                        <ul>
                            <li>$#:data.PerPersonSharing#  per person sharing</li>
                            <li>$#:data.PerSingleOccupancy# per single occupancy</li>
                            <li>$#:data.PerChild# per child (14 - 16 years)</li>
                        </ul>
                    </script>

                    @(Html.Kendo().ListView(Model.TourInfos)
                            .Name("listView")
                            .TagName("div")
                            .ClientTemplateId("priceInfoTemplate")
                    )
                </text>)
                .Actions(actions => actions.Close())
            )

            @{
                var tourInfos = Model.TourInfos;
                List<DateTime> list = new List<DateTime>();
                foreach (var tourInfo in tourInfos)
                {
                    foreach (var tourDate in tourInfo.TourDates)
                    {
                        list.Add(tourDate);
                    }
                }

            }

         @(Html.Kendo().Calendar()
        .Name("toursCalendar")
        .Selectable("multiple")
        .SelectDates(list)
        .Value(Model.TourInfos.First().StartDate)
            )


            <div class="tx_buttons">
                <span class="tx_icon tx_gallery_icon selectGallery k-button k-button-icontext tsSelected"><span class="k-icon k-i-photo-camera"></span>View gallery</span><span class="tx_icon tx_player_icon selectMediaPlayer k-button-icontext k-button"><span class="k-icon k-i-play"></span>Play video</span>
            </div>


        </div>
    </div>
    <div class="t-row tx_detailed_info_row tx_clearfix tabstrip_row">
        <div class="t-col t-col-12">
            @(Html.Kendo().TabStrip()
                .Animation(false)
                .Scrollable(true)
                .Name("tabStripInfo")
                .Items(items =>
                {
                items.Add().Text("Overview").SpriteCssClasses("tx_info_icon").Selected(true)
                    .Content(@<text>
                        <div class="tx_overview_row tx_description">
                            <div class="col-1">
                                <h3>@Model.Title</h3>
                                <p>@Model.FullDescription</p>
                                <a href="javascript:void(0);" class="tx_link tx_read_more">read more</a>
                                <a href="javascript:void(0);" class="tx_link tx_read_less">read less</a>
                            </div>
                            <div class="col-2">
                                <p class="tx_places">
                                    @{
                                        for (int i = 0; i < @Model.ShortDescription.Length; i++)
                                        {
                                            if (i > 0)
                                            {
                                                <span class="tx_dot_separator" style="display: inline-block"></span>
                                            }

                                            @Model.ShortDescription[i];
                                        }
                                    }
                                </p>
                                <blockquote>
                                    @Model.Testimonial.TestimonialContent
                                    <p>@Model.Testimonial.Author.</p>
                                </blockquote>
                            </div>

                            <div class="col-3">
                                <a id="openLargeMap" class="tx_link">view larger map</a>
                                @(Html.Kendo().Map()
                                        .Name("overviewMap")
                                        .Center((double) Model.MapInfo.ZoomSettings["Latitude"], (double) Model.MapInfo.ZoomSettings["Longitude"])
                                        .Zoom((double) Model.MapInfo.ZoomSettings["Zoom"])
                                        .HtmlAttributes(new { style = "height:350px; width: 320px;" })
                                        .Layers(layers =>
                                        {
                                            layers.Add()
                                                .Type(MapLayerType.Tile)
                                                .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                .Subdomains("a", "b", "c")
                                                .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                        }).Markers(markers =>
                                        {
                                            foreach (var marker in Model.MapInfo.Markers)
                                            {
                                                markers.Add()
                                                    .Location(marker.LatLng);
                                            }
                                        }
                                        )
                                )
                            </div>
                        </div>

                    </text>);
                    items.Add().Text("Attractions").SpriteCssClasses("tx_attraction_icon")
                    .Content(@<text>
                                                <script id="attractionsTemplate" type="text/x-kendo-tmpl">
                                                    <div class="tx_attr_row">
                                                        @*<div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12 col-sm-10 tx_attr_name_col">*@
                                                        <div class="col-1">
                                                            <h3>#: Title #</h3>
                                                            <p>
                                                                #: Description #
                                                            </p>
                                                        </div>
                                                        @*<div class="t-col t-col-2 t-col-xs-12 t-col-sm-12 t-col-md-12 col-sm-2 tx_attr_loc_col">*@
                                                        <div class="col-2">
                                                            <h4>Location</h4>
                                                            <br />
                                                            #: Location #
                                                        </div>
                                                        @*<div class="t-col t-col-4 t-col-xs-12 t-col-sm-12 t-col-md-12 tx_attr_img">*@
                                                        <div class="col-3">
                                                            <img src="#:Image.ImageURL#" id="attractionImage" alt="#:Image.Title#" />
                                                        </div>
                                                    </div>
                                                </script>
                                                @(Html.Kendo().ListView(Model.Attractions)
                                    .Name("AttractionsListView")
                                    .TagName("div")
                                    .ClientTemplateId("attractionsTemplate")
                                                )
                    </text>);
                    items.Add().Text("Enquiry form").SpriteCssClasses("tx_enquiry_icon")
                    .Content(@<text>
                                                <div id="tx_enquiry_form">
                                                    <h3>Contact an Expert</h3>
                                                    <div class="t-row row">
                                                        <div class="t-col t-col-8 t-col-xs-12 t-col-sm-12 col-sm-8">
                                                            <div class="t-row row">
                                                                <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12 col-sm-6">
                                                                    <label for="firstNameTextBox">First name</label>
                                                                    @(Html.Kendo().TextBox()
                                                                            .Name("firstNameTextBox")
                                                                    )
                                                                    <label for="lastNameTextBox">Last Name</label>
                                                                    @(Html.Kendo().TextBox()
                                                                            .Name("lastNameTextBox")
                                                                    )
                                                                    <label for="emailTextBox">Email</label>
                                                                    @(Html.Kendo().TextBox()
                                                                            .Name("emailTextBox")
                                                                    )
                                                                </div>
                                                                <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12 col-sm-6">
                                                                    <label for="phoneTextBox">Phone</label>
                                                                    @(Html.Kendo().TextBox()
                                                                            .Name("phoneTextBox")
                                                                    )
                                                                    <label for="mobileTextBox">Mobile</label>
                                                                    @(Html.Kendo().TextBox()
                                                                            .Name("mobileTextBox")
                                                                    )
                                                                    <label for="countryDropDown">Where are you from?</label>
                                                                    @(Html.Kendo().DropDownList()
                                                                                .Name("countryDropDown")
                                                                                .OptionLabel("-Select country-")
                                                                                .DataSource(dataSource => dataSource
                                                                                    .Read("GetCountries", "Destinations")
                                                                                )
                                                                                .HtmlAttributes(new { style = "width: 100%" })
                                                                    )
                                                                </div>
                                                            </div>
                                                            <div class="t-row row">
                                                                <div class="t-col t-col-12 col-sm-12">
                                                                    <label for="commentsTextBox">Comments</label>
                                                                    @(Html.TextArea("commentsTextBox", new { style = "width: 100%; resize: none;", rows = "5" })

                                                                    )
                                                                    @(Html.Kendo().Button()
                                                            .Name("sendEnquiry")
                                                            .Content("Send")
                                                            .HtmlAttributes(new { @class = "tx_btn" })
                                                            .Events(e => e.Click("enquirySendClick"))
                                                                    )
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="t-col t-col-4 t-col-xs-12 t-col-sm-12 col-sm-4">
                                                            <p>
                                                                @Model.Title has been added to your enquiry.  Please complete the short form. We’ll get right back to you to help you with your travels.
                                                            </p>
                                                            <blockquote>
                                                                @Model.Testimonial.TestimonialContent
                                                                <p>@Model.Testimonial.Author</p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                    </text>);
                    items.Add().Text("Upload photo").SpriteCssClasses("tx_upload_icon")
                    .Content(@<text>
                                                <div id="tx_upload_photo">
                                                    <div class="row">
                                                        <div class="t-col t-col-8 t-col-xs-12 t-col-sm-12 t-col-md-12 col-sm-8">
                                                            <strong>Step 1: Select your Photo</strong>
                                                            @(Html.Kendo().Upload()
                                                    .Name("imageUpload")
                                                    .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".png", ".gif" }))
                                                            )
                                                            <strong>Step 2: Info about picture & author</strong>
                                                            <label prefix="nameTextBox">Your name</label>
                                                            @(Html.Kendo().TextBox()
                                    .Name("nameTextBox")
                                                            )
                                                            <label for="photoTitleTextBox">Photo title</label>
                                                            @(Html.Kendo().TextBox()
                                    .Name("photoTitleTextBox")
                                                            )
                                                            @(Html.Kendo().Button()
                                    .Name("sendImageButton")
                                    .Content("Send")
                                    .HtmlAttributes(new { @class = "tx_btn" })
                                    .Events(e => e.Click("imageSendClick"))
                                                            )
                                                        </div>
                                                        <div class="t-col t-col-4 t-hidden-xs t-hidden-sm t-hidden-md col-sm-4">
                                                            <p>Use the Upload tool to upload your photo and prepare it for destination page.</p>
                                                            <blockquote>
                                                                @Model.Testimonial.TestimonialContent
                                                                <p>@Model.Testimonial.Author</p>
                                                            </blockquote>
                                                        </div>
                                                    </div>
                                                </div>
                    </text>);
                })
            )

            @(Html.Kendo().Window()
                                    .Name("largeMapWindow")
                                    .Title("Itinerary map")
                                    .Visible(false)
                                    .Content(@<text>
                                        @(Html.Kendo().Map()
                                            .Name("largeMap")
                                            .Center((double) Model.MapInfo.ZoomSettings["Latitude"], (double) Model.MapInfo.ZoomSettings["Longitude"])
                                            .HtmlAttributes(new { style = "height:660px; width: 820px;" })
                                            .Layers(layers =>
                                            {
                                                layers.Add()
                                                    .Type(MapLayerType.Tile)
                                                    .UrlTemplate("https://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                    .Subdomains("a", "b", "c")
                                                    .Attribution("&copy; <a href='https://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                            }).Markers(markers =>
                                            {
                                                foreach (var marker in Model.MapInfo.Markers)
                                                {
                                                    markers.Add()
                                                        .Location(marker.LatLng);
                                                }

                                            }
                                            )
                                        )
                                    </text>)
                                   .Actions(actions => actions.Close())
            )
        </div>
    </div>
</div>

<style>
    #tabstripMain.k-tabstrip-items {
        display: none;
    }

    .k-fullscreen-button {
        visibility: hidden !important;
    }
</style>

<script>

    $(function () {
        $("#tabStripInfo .k-link").removeAttr("href");
    });

    $(".selectGallery").on("click", function () {
        $(this).siblings(".tsSelected").removeClass("tsSelected");
        $(this).addClass("tsSelected");
        var tabStrip = $("#tabstripMain").data("kendoTabStrip");
        tabStrip.select(0);
    });
    $(".selectMediaPlayer").on("click", function () {
        $(this).siblings(".tsSelected").removeClass("tsSelected");
        $(this).addClass("tsSelected");
        var tabStrip = $("#tabstripMain").data("kendoTabStrip");
        tabStrip.select(1);
    });

    $("#pricesButton").on("click", function (e) {
        $("#windowPriceInfo").data("kendoWindow").center().open();
    });

    $("#openLargeMap").on("click", function (e) {
        $("#largeMapWindow").data("kendoWindow").center().open();
    });

    function imageSendClick(e) {

        var upload = $("#imageUpload").data("kendoUpload");
        var nameInput = $("#nameTextBox");
        var photoTitleInput = $("#photoTitleTextBox");

        upload.clearAllFiles();
        nameInput.val("");
        photoTitleInput.val("");
    }

    function enquirySendClick(e) {
        var firstName = $("#firstNameTextBox");
        var lastName = $("#lastNameTextBox");
        var email = $("#emailTextBox");
        var phone = $("#phoneTextBox");
        var mobile = $("#mobileTextBox");
        var country = $("#countryDropDown").data("kendoDropDownList");
        var comments = $("#commentsTextBox");

        firstName.val("");
        lastName.val("");
        email.val("");
        phone.val("");
        mobile.val("");
        country.value("");
        comments.val("");

    }
    $(document).ready(function () {
        var smallMap = $("#overviewMap").data("kendoMap");
        var largeMap = $("#largeMap").data("kendoMap");

        largeMap.setOptions({
            zoom: smallMap.zoom() + 1
        });
    });

    $(window).resize(function () {
        var tabstrip = $("#tabStripInfo").data("kendoTabStrip");
        tabstrip.resize();
    });
</script>


<style>
    .image-wrapper {
        height: 100%;
        overflow: hidden;
    }

        .image-wrapper img {
            display: inline-block;
            position: relative;
        }

    .k-virtual-page.km-virtual-page {
        width: 100% !important;
    }

        .k-virtual-page.km-virtual-page, .k-virtual-page.km-virtual-page > div {
            height: 100% !important;
        }

    .k-calendar .k-header .k-link.k-nav-prev.k-state-hover,
    .k-calendar .k-header .k-link.k-nav-next.k-state-hover {
        border-radius: 20px;
    }

    .k-calendar .k-nav-prev span::before {
        margin-left: -2px;
    }

    .k-calendar .k-nav-next span::before {
        margin-left: 2px;
    }
</style>