@{
    ViewBag.Title = "Destination Details";
}

@model TripXpert.Models.DestinationViewModel

<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.mobile.min.css" /> 
<div id="DetailsLayout" class="t-container t-container-fluid">
    <div class="t-row tx_destination_title">
        <div class="t-col t-col-12">

            <h2>@Model.Title</h2>

        </div>
    </div>
    
    <div class="t-row tx_media_row">
        <div class="t-col t-col-9 t-col-xs-12 t-col-sm-12 t-col-md-7 t-col-lg-8">
            <script id="template" type="text/x-kendo-template">
                <div class="image-wrapper">
                    <img src="#:ImageURL #" />
                </div>
                <p class="title">#: Description #</p>
            </script>

            <div>
                @(Html.Kendo().TabStrip()
                    .Name("tabstripMain")
                    .Animation(false)
                    .Items(items =>
                    {
                    items.Add().Text("View gallery")
                        .Selected(true)
                        .Content(@<text>
                            <div class="demo-section hidden-on-narrow k-content">
                                <div id="scrollview" ></div>
                                <a id="prev-img" title="Previous Image"></a>
                                <a id="next-img" title="Next Image"></a>
                            </div>
                            <script>
                                var dataSource = new kendo.data.DataSource({
                                    transport: {
                                        read: {
                                            url: ('@Url.Action("GetDestinationImages", new { destinationId = Model.DestinationID })'),
                                            dataType: "json"
                                        }
                                    }
                                });

                                $("#scrollview").kendoMobileScrollView({
                                    dataSource: dataSource,
                                    contentHeight: "800px",
                                    enablePager: true,
                                    itemsPerPage: 1,
                                    pageSize: 6,
                                    template: kendo.template($("#template").html())
                                });

                                $("#prev-img").click(function (e) {
                                    var scrollView = $("#scrollview").data("kendoMobileScrollView");
                                    scrollView.prev();
                                });

                                $("#next-img").click(function (e) {
                                    var scrollView = $("#scrollview").data("kendoMobileScrollView");
                                    scrollView.next();
                                });
                            </script>
                        </text>);
                    items.Add().Text("Play video")
                        .Content(@<text>
                                @(Html.Kendo().MediaPlayer()
                                    .Name("destinationMediaPlayer")
                                    .Media(m => m
                                        .Title(Model.Title)
                                        .Source(string.Format("{0}://{1}/Videos/{2}", @HttpContext.Current.Request.Url.Scheme, @HttpContext.Current.Request.Url.Authority, @Model.VideoURL))
                                    )
                                    .HtmlAttributes(new { style = "height:500px" })
                                )
                        </text>);
                        })
                )
            </div>

        </div>
        <div class="t-col t-col-3 t-col-xs-12 t-col-sm-12 t-col-md-5 t-col-lg-4 tx_brief_info">

            <h3 class="clearfix">Price form $@Model.LowestPrice<span>@Model.Duration days</span></h3>
            <a id="pricesButton" class="tx_link">view full price info</a>
            <div class="rltbOverlay" style="z-index:3500;display:none;">

            </div>

            @(Html.Kendo().Window()
                .Name("windowPriceInfo")
                .Title("Full Price Info")
                .Visible(false)
                .Content(@<text>
                            <script type="text/x-kendo-tmpl" id="priceInfoTemplate">
                                <p>Tour Rates: #: kendo.toString(data.StartDate, "dd MMMM yyyy")# - #: kendo.toString(data.EndDate, "dd MMMM yyyy")#</p>
                                <ul>
                                    <li>#:data.PerPersonSharing#  per person sharing</li>
                                    <li>#:data.PerSingleOccupancy# per single occupancy</li>
                                    <li>#:data.PerChild# per child (14 - 16 years)</li>
                                </ul>
                            </script>

                            @(Html.Kendo().ListView(Model.TourInfos)
                            .Name("listView")
                            .TagName("div")
                            .ClientTemplateId("priceInfoTemplate")
                            )
                        </text>)
                .Actions(actions => actions.Close())
            )

            @(Html.Kendo().Calendar()
                .Name("toursCalendar")
                .MonthTemplateId("monthTemplate")
                .Value(Model.TourInfos.First().StartDate)
            )
            
            <script id="monthTemplate" type="text/x-kendo-tmpl">
                # var tourDatesRaw=[] #
                # var tours= @Html.Raw(Json.Encode(Model.TourInfos)) #
                # for (var i=0; i < tours.length; i++ ) { #
                # $.each(tours[i].TourDates, function(index, val) {tourDatesRaw.push(+kendo.parseDate(val)) } ) #
                # } #
                ##
                # if ($.inArray(+data.date, tourDatesRaw) != -1) { #
                    <div class="tourDate" > #: data.value # </div>
                # } else { #
                    #: data.value #
                # } #
                
            </script>
            <div>                 
                <span class="tx_icon tx_gallery_icon selectGallery k-button tsSelected">View gallery</span>
                <span class="tx_icon tx_player_icon selectMediaPlayer k-button">Play video</span>
            </div>


        </div>
    </div>
    <div class="t-row tx_detailed_info_row tx_clearfix">
        <div class="t-col t-col-12">
            @(Html.Kendo().TabStrip()
                .Name("tabStripInfo")
                .Items(items =>
                {
                items.Add().Text("Overview").Selected(true)
                    .Content(@<text>
                        <div class="tx_description">
                            <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                <h3>@Model.Title</h3>
                                <p>@Model.FullDescription</p>
                                <a href="javascript:void(0);" class="tx_link tx_read_more">read more</a>
                                <a href="javascript:void(0);" class="tx_link tx_read_less">read less</a>
                            </div>
                            <div class="t-col t-col-2 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                <p class="tx_places">
                                    @{
                                        for (int i = 0; i < @Model.ShortDescription.Length; i++)
                                        {
                                            if (i > 0)
                                            {
                                                <span class="tx_dot_separator" style="display: inline-block"></span>
                                            }

                                            @Model.ShortDescription[i];
                                        }
                                    }
                                </p>
                                <blockquote>
                                    @Model.Testimonial.TestimonialContent
                                    <p>@Model.Testimonial.Author.</p>
                                </blockquote>
                            </div>
                            <div class="t-col t-col-4 t-col-xs-12 t-col-sm-12 t-col-md-12 tx_clearfix">
                                <a id="openLargeMap" class="tx_link">view larger map</a>

                                @(Html.Kendo().Map()
                                            .Name("overviewMap")
                                            .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
                                            .Zoom((double)Model.MapInfo.ZoomSettings["Zoom"])
                                            .HtmlAttributes(new { style = "height:350px; width: 320px;" })
                                            .Layers(layers =>
                                            {
                                                layers.Add()
                                                    .Type(MapLayerType.Tile)
                                                    .UrlTemplate("http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                    .Subdomains("a", "b", "c")
                                                    .Attribution("&copy; <a href='http://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                            }).Markers(markers=>
                                            {
                                                foreach (var marker in Model.MapInfo.Markers)
                                                {
                                                    markers.Add()
                                                        .Location(marker.LatLng)
                                                        .Title(marker.Name);
                                                }
                                            }
                                            )
                                )

                            </div>
                        </div>
                    </text>);
                    items.Add().Text("Attractions")
                    .Content(@<text>
                                                <script id="attractionsTemplate" type="text/x-kendo-tmpl">
                                                    <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                        <h3>#: Title #</h3>
                                                        <p>
                                                            #: Description #
                                                        </p>
                                                    </div>
                                                    <div class="t-col t-col-2 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                        <h4>Location</h4>
                                                        <br />
                                                        #: Location #
                                                    </div>
                                                    <div class="t-col t-col-4 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                        <img src="#:Image.ImageURL#" id="attractionImage" alt="#:Image.Title#" />
                                                    </div>
                                                </script>
                                                @(Html.Kendo().ListView(Model.Attractions)
                                    .Name("AttractionsListView")
                                    .TagName("div")
                                    .ClientTemplateId("attractionsTemplate")
                                                )
                    </text>);
                    items.Add().Text("Enquiry form")
                    .Content(@<text>
                                                <h3>Contact an Expert</h3>
                                                <div class="t-row">
                                                    <div class="t-col t-col-8 t-col-xs-12 t-col-sm-12">
                                                        <div class="t-row">
                                                            <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                                <span>First name</span>
                                                                @(Html.Kendo().TextBox()
                                                                .Name("firstNameTextBox")
                                                                )
                                                                <span>Last Name</span>
                                                                @(Html.Kendo().TextBox()
                                                                .Name("lastNameTextBox")
                                                                )
                                                                <span>Email</span>
                                                                @(Html.Kendo().TextBox()
                                                                .Name("emailTextBox")
                                                                )
                                                            </div>
                                                            <div class="t-col t-col-6 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                                <span>Phone</span>
                                                                @(Html.Kendo().TextBox()
                                                                .Name("phoneTextBox")
                                                                )
                                                                <span>Mobile</span>
                                                                @(Html.Kendo().TextBox()
                                                                .Name("mobileTextBox")
                                                                )
                                                                <span>Where are you from?</span>
                                                                @(Html.Kendo().DropDownList()
                                                                    .Name("countryDropDown")
                                                                    .OptionLabel("-Select country-")
                                                                    .DataSource(dataSource => dataSource
                                                                        .Read("GetCountries", "Destinations")
                                                                    )
                                                                )
                                                            </div>
                                                        </div>
                                                        <div class="t-row">
                                                            <div class="t-col t-col-12">
                                                                <span>Comments</span>
                                                                @(Html.TextArea("commentsTextBox", new { style = "width: 100%; resize: none;", rows = "5" })

                                                                )
                                                                @(Html.Kendo().Button()
                                                .Name("sendEnquiry")
                                                .Content("Send")
                                                .HtmlAttributes(new { @class = "tx_btn" })
                                                .Events(e => e.Click("enquirySendClick"))
                                                                )
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="t-col t-col-4 t-col-xs-12 t-col-sm-12">
                                                        <p>
                                                            @Model.Title has been added to your enquiry.  Please complete the short form. We’ll get right back to you to help you with your travels.
                                                        </p>
                                                        <blockquote>
                                                            @Model.Testimonial.TestimonialContent
                                                            <p>@Model.Testimonial.Author</p>
                                                        </blockquote>
                                                    </div>
                                                </div>
                    </text>);
                    items.Add().Text("Upload photo")
                    .Content(@<text>
                                                <div class="t-col t-col-8 t-col-xs-12 t-col-sm-12 t-col-md-12">
                                                    <strong>Step 1: Select your Photo</strong>

                                                    @(Html.Kendo().Upload()
                                                                    .Name("imageUpload")
                                                                    .Validation(v => v.AllowedExtensions(new string[] { ".jpg", ".png", ".gif" }))
                                                    )

                                                    <strong>Step 1: Info about picture & author</strong>
                                                    <span>Your name</span>
                                                    @(Html.Kendo().TextBox()
                                                                        .Name("nameTextBox")
                                                    )
                                                    <span>Photo title</span>
                                                    @(Html.Kendo().TextBox()
                                                                        .Name("photoTitleTextBox")
                                                    )

                                                    @(Html.Kendo().Button()
                                                                    .Name("sendImageButton")
                                                                    .Content("Send")
                                                                    .HtmlAttributes(new { @class = "tx_btn" })
                                                                    .Events(e => e.Click("imageSendClick"))
                                                    )
                                                </div>
                                                <div class="t-col t-col-4 t-hidden-xs t-hidden-sm t-hidden-md">
                                                    <p>Use the Upload tool to upload your photo and prepare it for destination page.</p>
                                                    <blockquote>
                                                        @Model.Testimonial.TestimonialContent
                                                        <p>@Model.Testimonial.Author</p>
                                                    </blockquote>
                                                </div>
                    </text>);
                })
            )

            @(Html.Kendo().Window()
                                    .Name("largeMapWindow")
                                    .Title("Itinerary map")
                                    .Visible(false)
                                    .Content(@<text>
                                        @(Html.Kendo().Map()
                                            .Name("largeMap")
                                            .Center((double)Model.MapInfo.ZoomSettings["Latitude"], (double)Model.MapInfo.ZoomSettings["Longitude"])
                                            .HtmlAttributes(new { style = "height:660px; width: 820px;" })
                                            .Layers(layers =>
                                            {
                                                layers.Add()
                                                    .Type(MapLayerType.Tile)
                                                    .UrlTemplate("http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                                    .Subdomains("a", "b", "c")
                                                    .Attribution("&copy; <a href='http://osm.org/copyright' title='OpenStreetMap contributors' target='_blank'>OpenStreetMap contributors</a>");

                                            }).Markers(markers =>
                                            {
                                                foreach (var marker in Model.MapInfo.Markers)
                                                {
                                                    markers.Add()
                                                        .Location(marker.LatLng)
                                                        .Title(marker.Name);
                                                }
                                            }
                                            )
                                        )
                                    </text>)
                                   .Actions(actions => actions.Close())
            )
        </div>
    </div>
</div>

<style>
    #tabstripMain.k-tabstrip-items {
        display:none;
    }

    #toursCalendar .k-state-selected {
        color: inherit;
        background-color: inherit;
        border-color: inherit;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    
</style>

<script>
    $(".selectGallery").on("click", function () {
        $(this).siblings(".tsSelected").removeClass("tsSelected");
        $(this).addClass("tsSelected");
        var tabStrip = $("#tabstrip").data("kendoTabStrip");
        tabStrip.select(0);
    });
    $(".selectMediaPlayer").on("click", function () {
        $(this).siblings(".tsSelected").removeClass("tsSelected");
        $(this).addClass("tsSelected");
        var tabStrip = $("#tabstrip").data("kendoTabStrip");
        tabStrip.select(1);
    });

    $("#pricesButton").on("click", function (e) {
        $("#windowPriceInfo").data("kendoWindow").center().open();
    });

    $("#openLargeMap").on("click", function (e) {
        $("#largeMapWindow").data("kendoWindow").center().open();
    });

    function imageSendClick(e) {
      
        var upload = $("#imageUpload").data("kendoUpload");
        var nameInput = $("#nameTextBox");
        var photoTitleInput = $("#photoTitleTextBox");
        
        upload.clearAllFiles();
        nameInput.val("");
        photoTitleInput.val("");
    }

    function enquirySendClick(e) {
        var firstName = $("#firstNameTextBox");
        var lastName = $("#lastNameTextBox");
        var email = $("#emailTextBox");
        var phone = $("#phoneTextBox");
        var mobile = $("#mobileTextBox");
        var country = $("#countryDropDown").data("kendoDropDownList");
        var comments = $("#commentsTextBox");

        firstName.val("");
        lastName.val("");
        email.val("");
        phone.val("");
        mobile.val("");
        country.value("");
        comments.val("");

    }
    $(document).ready(function () {
        var smallMap = $("#overviewMap").data("kendoMap");
        var largeMap = $("#largeMap").data("kendoMap");

        largeMap.setOptions({
            zoom: smallMap.zoom() + 1
        });
        
    });
     
</script>