@{
    ViewBag.Title = "Home Page";
}
<div class="t-row tx_search tx_clearfix col-md-12">
    <div class="col-md-3">
        <span class="searchbox-wrapper">
            @(Html.Kendo().ComboBox()
            .Name("Destinations") //The name of the ComboBox is mandatory. It specifies the "id" attribute of the widget.
            .Placeholder("All types")
            .DataTextField("Title") //Specify which property of the Product to be used by the ComboBox as a text.
            .DataValueField("Title") //Specify which property of the Product to be used by the ComboBox as a value.
            .HtmlAttributes(new { style = "width: 100%" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetDestinations", "Home"); //Set the Action and Controller names.
                });
            })
            .Height(400)
            //.SelectedIndex(0) //Select the first item.
            .Template(@"<div class='destination-combo-template'>
                <img src='#=data.DefaultImage#' title='#=data.Title#' /><h4>#=data.Title#</h4>
                <span class='info'>from #:kendo.toString(data.LowestPrice, 'c0')#</span></div>
        ")
            )
        </span>
    </div>
    <div class="col-md-3">
        <span class="searchbox-wrapper">
            @(Html.Kendo().DropDownList()
          .Name("OfferType")
          .OptionLabel("Select offer type")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "All types", Value = "All"
              },
              new SelectListItem() {
                Text = "Special offers", Value = "Special"
              },
              new SelectListItem() {
                Text = "Regular offers", Value = "Regular"
              }
          })
          .HtmlAttributes(new { style = "width:100%;" })
          .Height(150)
            )
        </span>
    </div>
    <div class="col-md-3">
        <span class="searchbox-wrapper">
            @(Html.Kendo().DropDownList()
          .Name("PriceRange")
            //.Placeholder("Select price range")
            .OptionLabel("Select price range")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Any price range", Value = "0"
              },
              new SelectListItem() {
                Text = "from $0 to $999", Value = "0-999"
              },
              new SelectListItem() {
                Text = "from $1000 to $1999", Value = "1000-1999"
              },
              new SelectListItem() {
                Text = "from $2000 to $2999", Value = "2000-2999"
              }
          })
          .HtmlAttributes(new { style = "width:100%;" })
          .Height(150)
            )
        </span>
    </div>
    <div class="col-md-3">
        @(Html.Kendo().Button()
        .Name("SearchButton")
        .HtmlAttributes(new { type = "button", @class = "k-primary col-sm-10" })
        .Content("Search"))
    </div>
</div>

<div id="example">
    <div class="demo-section hidden-on-narrow k-content">
        <div id="scrollview"></div>
        <a id="prev-img" title="Previous Image"></a>
        <a id="next-img" title="Next Image"></a>
    </div>
    <div class="responsive-message"></div>
</div>
<script id="template" type="text/x-kendo-template">
    <div>
        <div class="image-wrapper">
            <img src="#:ImageURL #" />
        </div>
        <p class="title">#: Description #</p>
    </div>
</script>
<script>
    $(function () {
        var images = ["/images/gallery/The best of Japan/2000x1125/Kinkaku-ji-Temple_Ivan-zhekov_Attraction.JPG", "/images/gallery/UNESCO sites in Bulgaria/2000x1125/Rila-Monastery,-Bulgaria_Petar-Manolov_Attraction.jpg", "/images/gallery/Classic Tour of Peru/2000x1125/Titicaca-Lake_Attraction.jpg", "/images/gallery/Wonders of Italy/2000x1125/Grand-Canal,-Venice,-Italy2_Lilia-Karakoleva_Attraction.jpg", "/images/gallery/Brazil and Argentina Iguazu Falls/2000x1125/Cristo-Redentor-(Christ-the-Redeemer)_Galabina-Yordanova_Attraction.JPG"];

        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: ('@Url.Action("GetSpecialDestinations")'),
                    dataType: "json"
                }
            }
        });
        $("#scrollview").kendoMobileScrollView({
            dataSource: dataSource,
            contentHeight: "800px",
            enablePager: true,
            template: kendo.template($("#template").html())
        });

        $("#prev-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.prev();
        });

        $("#next-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.next();
        });

        PreLoadImages(images);
    });

    function PreLoadImages(imagesUrls) {
        for (var i = 0; i < imagesUrls.length; i++) {
            var heavyImage = new Image();
            heavyImage.src = imagesUrls[i];
        }
    }
</script>
<style>

</style>
<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.mobile.min.css" />
<script>
    //Open on focus logic
    $(function () {
        $("[data-role=combobox]").each(function () {
            //var widget = $(this).getKendoComboBox();
            //widget.input.on("focus", function() {
            //      widget.open();
            //});
        });
    });
</script>
