@{
    ViewBag.Title = "Home Page";
}
<div class="t-row tx_search tx_clearfix col-xs-12">
    <div class="col-xs-12 col-sm-3">
        <span class="k-icon k-i-marker-pin"></span>
        <span class="searchbox-wrapper">
            @(Html.Kendo().ComboBox()
            .Name("Destinations") //The name of the ComboBox is mandatory. It specifies the "id" attribute of the widget.
            .Placeholder("All types")
            .DataTextField("Title") //Specify which property of the Product to be used by the ComboBox as a text.
            .DataValueField("Title") //Specify which property of the Product to be used by the ComboBox as a value.
            .HtmlAttributes(new { style = "width: 100%" })
            .DataSource(source =>
            {
                source.Read(read =>
                {
                    read.Action("GetDestinations", "Home"); //Set the Action and Controller names.
                });
            })
            .Events(ev=>ev.Select("destinationsSelect").Change("destinationsChange"))
            .Height(400)
            //.SelectedIndex(0) //Select the first item.
            .Template(@"<div class='destination-combo-template clearfix'>
                <span class='k-icon k-i-arrow-60-left'></span><img src='#=data.DefaultImage#' title='#=data.Title#' /><h4>#=data.Title#</h4>
                <span class='info'>from #:kendo.toString(data.LowestPrice, 'c0')#</span></div>
        ")
            )
        </span>
    </div>
    <div class="col-sm-3">
        <span class="k-icon k-i-bell"></span>
        <span class="searchbox-wrapper">
        @(Html.Kendo().DropDownList()
          .Name("OfferType")
          .OptionLabel("Select offer type")
          .DataTextField("Text")
          .DataValueField("Value")
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "All types", Value = "All"
              },
              new SelectListItem() {
                Text = "Special offers", Value = "Special"
              },
              new SelectListItem() {
                Text = "Regular offers", Value = "Regular"
              }
          })
          .HtmlAttributes(new { style = "width:100%;" })
          .Height(150)
            )
        </span>
    </div>
    <div class="col-sm-3">
        <span class="k-icon k-i-currency"></span>
        <span class="searchbox-wrapper">
            @(Html.Kendo().DropDownList()
            .Name("PriceRange")
            .OptionLabel("Select price range")
            .DataTextField("Text")
            .DataValueField("Value")
            .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                Text = "Any price range", Value = "0"
              },
              new SelectListItem() {
                Text = "from $0 to $999", Value = "0-999"
              },
              new SelectListItem() {
                Text = "from $1000 to $1999", Value = "1000-1999"
              },
              new SelectListItem() {
                Text = "from $2000 to $2999", Value = "2000-2999"
              }
          })
          .HtmlAttributes(new { style = "width:100%;" })
          .Height(150)
            )
        </span>
    </div>
    <div class="col-sm-3 clearfix">
        @(Html.Kendo().Button()
        .Name("SearchButton")
        .HtmlAttributes(new { type = "button", @class = "k-primary col-sm-8 col-xs-12" })
        .Content("Search")
        .Events(ev=>ev.Click("searchClick"))
        )
    </div>
</div>

<div id="example" style="height: 100%">
    <div class="demo-section hidden-on-narrow k-content">
        <div id="scrollview" style="width: 100%; height: 100%;"></div>
        <a id="prev-img" title="Previous Image"><span class="k-icon k-i-arrow-chevron-left"></span></a>
        <a id="next-img" title="Next Image"><span class="k-icon k-i-arrow-chevron-right"></span></a>
    </div>
    <div class="responsive-message"></div>
</div>
<script id="template" type="text/x-kendo-template">
    <div>
        <div class="image-wrapper">
            <a href='@Url.Action("DestinationDetails", "Destinations")/#:DestinationID#'><img src="#:ImageURL #" /></a>
        </div>
        <p class="title">#: Description #</p>
    </div>
</script>
<script>
    var selectedID = "";
    var offerType = "";
    var priceRange = "";
    var ids = "1";

    function destinationsSelect(e) {
        selectedID = e.dataItem.DestinationID;
        $("#OfferType").data("kendoDropDownList").enable(false);
        $("#PriceRange").data("kendoDropDownList").enable(false);
    }

    function destinationsChange(e) {
        if (e.sender.select() < 0) {
            $("#OfferType").data("kendoDropDownList").enable(true);
            $("#PriceRange").data("kendoDropDownList").enable(true);
            selectedID = "";
        }
    }

    function searchClick() {
        $.ajax({
            url: '@Url.Action("GetDestinationsQuery","Home")',
            type: 'GET',
            data: {
                priceRange:  $("#PriceRange").data("kendoDropDownList").value(),
                offerType: $("#OfferType").data("kendoDropDownList").value()
            },
            success: function (data) {
                data ? ids = data : ids = "1";
                ids = ids.split(',');
                if (selectedID != "") {
                    ids = selectedID;
                }
                if (ids.length > 1) {
                    window.location.href = '@Url.Action("Destinations","Destinations")' + "?Ids=" + ids.toString();                  
                }
                else {
                    window.location.href = '@Url.Action("DestinationDetails", "Destinations")' + "/" + ids.toString();;
                }
            }
        });
        
    }

    $(function () {
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: ('@Url.Action("GetSpecialDestinations")'),
                    dataType: "json"
                }
            }
        });
        $("#scrollview").kendoMobileScrollView({
            dataSource: dataSource,
            contentHeight: "100%",
            enablePager: true,
            change: function () {
                updateImage();
            },
            template: kendo.template($("#template").html())
        });

        $("#prev-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.prev();
        });

        $("#next-img").click(function (e) {
            var scrollView = $("#scrollview").data("kendoMobileScrollView");
            scrollView.next();
        });       
    });

    //Open on focus logic
    $(function () {
        $("[data-role=combobox]").each(function () {
            var widget = $(this).getKendoComboBox();
            widget.input.on("focus", function () {
                widget.open();
            });
        });
    });

    $(window).resize(function () {
        $("#scrollview").data("kendoMobileScrollView").refresh();
        updateImage();
    });

    function updateImage() {
        var img = $(".image-wrapper img");
        var contHeight = img.closest(".image-wrapper").height();
        var contWidth = img.closest(".image-wrapper").width();
        var ratio1 = contWidth / contHeight;
        var ratio2 = 1.777;
        if (ratio2 > ratio1) {
            img.height(contHeight);
        }
        else {
            img.height( contWidth / ratio2);
        }
    }
</script>
<link rel="stylesheet" href="//kendo.cdn.telerik.com/2016.3.1118/styles/kendo.nova.mobile.min.css" />

<style>
    html, body, #wrapper, #main-content, .col-sm-12, .body-content, .demo-section {
        height: 100%;
    }

    .image-wrapper {
        height:100%;
        overflow: hidden;  
    }
    .image-wrapper img {   
        display: inline-block;
        position: relative;
        }

    .k-virtual-page.km-virtual-page {
        width: 100%!important;    
}

   .k-virtual-page.km-virtual-page > div {
        height:100%; 
}
</style>

